{
  "arrowParens": "always",
  "jsxSingleQuote": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "semi": true,
  "useTabs": true,
  "tabWidth": 4,
  "trailingComma": "all",
  "printWidth": 100
}